/*
* @Author: dhl
* @Date:   2017-12-06 14:31:18
* @Last Modified by:   dhl
* @Last Modified time: 2017-12-07 09:31:32
*/


.footer {
	
	 background-color: #eaeaea;
}


.footer .top {
	border-bottom: 1px solid #ccc;
	height: 102px;
	background-color: #eaeaea;
}

.footer .top ul {
	 width: 100%;
	 display: flex;
	 line-height: 102px;
	 justify-content: space-around;
}

.footer .top li {
	 position: relative;
	 padding-left: 38px;
	 font-size: 18px;
	 font-weight: 700;
	 color: #000;
}

.footer .top i {
	 width: 38px;
	 height: 43px;
	 display: block;
	 line-height: 43px;
	 text-align: center;
	 text-indent: -2000em;
	 background: url("../img/ico_service.png") no-repeat;
	 position: absolute;
	 left: 0px;
	 top: 30px;
}
.footer .top .fs {
   background-position: 0px -43px;	
}

.footer .top .good {
	background-position: 0px -86px;	
}

.footer .top .save {
	background-position: 0px bottom;	
}



/* 底部中间部分 */
.footer .middle {
    height: 199px;
    border-bottom: 1px solid #ccc;
    background-color: #eaeaea;
}

.footer .middle dl {
	 float: left;
	 margin-top: 25px;
	 width: 196px;
}

.footer .middle dt {
	 color: #666;
	 font-weight: 700;
	 height: 28px;
}

.footer .middle dd {
	 height: 25px;
}

.footer .middle dl:last-child {
	 height: 149px;
	 width: 207px;
	 background: url("../img/ico_footer.png");
	 padding: 0 10px;
	 box-sizing: border-box;

}

.footer .middle dl:last-child a {
	 float: right;
}

.footer .middle dl:last-child dt {
	 text-align: center;
}



/* 底部 */
.footer .bot {
	 height: 200px;
}

