/*
* @Author: dhl
* @Date:   2017-12-06 09:25:39
* @Last Modified by:   dhl
* @Last Modified time: 2017-12-06 10:38:20
*/


.header {

}

.header .l_logo {
	 float: left;
}

.header .l_logo a {
	  width: 170px;
	  height: 60px;
	  display: block;
	  text-indent: -2000em;
	  background: url("../img/login/logo-201305-b.png") no-repeat;
	  margin-top: 20px;
	  float: left;
}

.header .l_logo b {
	 float: left;
	 width: 110px;
	 height: 40px;
	 display: block;
	 background: url("../img/login/l-icon.png") no-repeat;
	 margin-top: 35px;
	 margin-left: 20px;
}



.header .r_text {
	 float: right;
}

.header .r_text a {

	 display: block;
	 /* 注意：行内元素是不能设置内外上下边距 */
	 margin-top: 56px;

	 padding-left: 20px;

	 position: relative;
}

.header .r_text a::before {
	 content: "";
	 width: 18px;
	 height: 14px;
	 display: block;
	 background: url("../img/login/q-icon.png") no-repeat;
	 position: absolute;
	 left: 0;
	 top: 4px;
}



/* 提示信息 */
.tips {
	 height: 39px;
	 background-color: #fff8f0;
	 line-height: 39px;
	 text-align: center;
	 border-bottom: 1px solid #cc0e30;
	 font-size: 12px;
	 margin-top: 15px;
}


/* 主体 */
.m_body {
	 height: 475px;
	 background-color: #e93854;
}


.m_body .login_w {
	 position: relative;
}


/* 登录窗口 */
.login_form {
	 width: 346px;
	 height: 400px;
	 background-color: #fff;
	 position: absolute;
	 right: 0px;
	 top: 25px;
}

.login_form .title {
	 height: 40px;
	 line-height: 40px;
	 font-size: 12px;
	 text-align: center;
	 background-color: #fff8f0;
}



.login_tab {
	 height: 54px;
	 border-bottom: 1px solid #ccc;
}
.login_tab .line  {
	width: 1px;
	height: 15px;
	background-color: #ccc;
	display: block;
	float: left;
	margin-top: 20px;
}
.login_tab a {
	 height: 100%;
	 width: 171px;
	 display: block;
	 float: left;
	 line-height: 54px;
	 text-align: center;
}

.login_tab a:last-child {
	 color: red;
	 font-weight: 700;
}




/* 表单域 */
.form_data {
	 padding: 33px 20px 0px;
}

.form_data .public {
	 height: 38px;
	 border: 1px solid #ccc;
	 margin-bottom: 20px;
	 position: relative;
}

.form_data .public input {
	 width: 100%;
	 height: 100%;
	 padding-left: 50px;
	 box-sizing: border-box;
}


.form_data .uname::after  {
	  content: "";
	  height: 100%;
	  width: 38px;
	  border-right: 1px solid #ccc;
	  display: block;
	  background: url("../img/login/pwd-icons-new.png") no-repeat;
	  position: absolute;
	  left: 0;
	  top: 0;
}

.form_data .pwd::before {
	  content: "";
	  height: 100%;
	  width: 38px;
	  border-right: 1px solid #ccc;
	  display: block;
	  background: url("../img/login/pwd-icons-new.png") no-repeat -48px 0px;
	  position: absolute;
	  left: 0;
	  top: 0;
}


/* 忘记密码 */

.forget {
	 float: right;
}



/* 登录按钮 */
.btn a {
	 width: 100%;
	 height: 35px;
	 display: block;
	 background-color: #e4393c;
	 color: #fff;

	 margin-top: 58px;
	 text-align: center;
	 line-height: 35px;
	 font-size: 16px;
	 font-weight: 700;
}

